body {
  background-image: url(../img/Sports.png);
}

.logo {
  font-family: 'Monoton', cursive;
}

.logo a {
  color: rgba(100,25,255,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}